<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="server" value="." />
    <add key="fileDir" value="c:\temp\recibo\" />
    <add key="CommandLineArguments" value="1" />
    <!-- Change this to 1 -->
    <!--<add key="NotifyEmail" value="nst.cends"/>-->
    <add key="NotifyEmail" value="carlo.spader@nebraska.gov" />
    <add key="ItStaffEmail" value="carlo.spader@nebraska.gov" />
    <add key="FromEmail" value="noreply@nebraska.gov" />
    <add key="MailHost" value="mxout.ne.gov" />
  </appSettings>
  <connectionStrings>
    <add name="itemCS" connectionString="Data Source=.;Initial Catalog=item;Persist Security Info=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
  <add name="ReceiptDBContext" connectionString="metadata=res://*/ReceiptModel.csdl|res://*/ReceiptModel.ssdl|res://*/ReceiptModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=item;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>