<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="prod_server" value=""/>
        <add key="test_server" value=""/>
        <add key="prod_fileDir" value=""/>
        <add key="test_fileDir" value=""/>
        <add key="CommandLineArguments" value="1"/>
        <!--<add key="NotifyEmail" value="nst.cends"/>-->
        <add key="NotifyEmail" value=""/>
        <add key="ItStaffEmail" value=""/>
        <add key="FromEmail" value=""/>
        <add key="MailHost" value =""/>
    </appSettings>

    <connectionStrings>
      <add name ="itemCS" connectionString=""/>
    </connectionStrings>
</configuration>